body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block1{
    width: 200px;
    height: 200px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-family: "Rubik Pixels", system-ui;
}
.block2{
    width: 200px;
    height: 200px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-family: "Sedgwick Ave Display", cursive;
}
.block3{
    width: 200px;
    height: 200px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-family: "Dancing Script", cursive;
}
.block4{
    width: 200px;
    height: 200px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-family: "Fjalla One", sans-serif;
}
.block5{
    width: 200px;
    height: 200px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-family: "Indie Flower", cursive;
}
