body{
    background-color: #0a6700;
}
.container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.top, .bottom{
    width: 100%;
    height: 250px;
display: flex;
    justify-content: space-between;
    align-items: center;
}
.block{
    width: 240px;
    height: 240px;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 5px;
    transition: 0.5s;
}
.block:hover{
    transform: scale(1.1);
    transition: 0.5s;
}