*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/*----first-box------*/
#first-box{
    width: 100%;
    height: 100vh;
    background-color: #3D0450;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

/*--second-box---*/
#second-box{
    width: 100%;
    height: 100vh;
    background-color: #079d66;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

/*--third-box----*/
#third-box{
    width: 100%;
    height: 100vh;
    background-color: #a62323;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
/*-----dop--------*/
.strelka{
    font-size: 80px;
}
a{
    text-decoration: none;
    color: black;
}